<footer class="footer">
    <p>Copyright © Vietnamese Student Associatoin at UNC Charlotte<br>
        unccvsa89@gmail.com</p>
    <a href="https://validator.w3.org">Validate HTML</a>
    <a href="https://jigsaw.w3.org/css-validator">Validate CSS</a>
</footer>
</body>

</html>