<%- include('./partials/header.ejs')%>
    <div class="banner">
        <h1 id="name"> Vietnamese Student Association</h1>
        <img id="img1" src="images/BobaSocial.png" alt="">
        <p>VSA is the Vietnamese Student Association, which is a student organization
            that was established in 1989 at the the University of North Carolina at
            Charlotte. VSA recognizes the value of comprehending fresh perspectives
            on the Vietnamese American experience. In addition, create a welcoming
            tmosphere that makes students feel like a part of something bigger than
            themselves. UNCC VSA's ultimate goal is to , spread awareness of the
            Vietnamese culture by hosting events, collaborating with other
            organizations, creating a positive environment promoting friendship,
            participating in charity events, traveling to support other VSAs all
            around, and many more!</p>
    </div>
    <%- include('./partials/footer.ejs')%>